div{
    width:250px;
    height: 150px;
    background-color: aquamarine;
    border: 10px solid palevioletred;
   padding-left: 50px;
   padding-top: 50px;
   padding-right: 50px;
   
}
h1{
    color: navy;
}
a{
    color: palevioletred;
    font-size: 50px;
}