*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navigation{
    background: lightcoral;
    border: 10px solid royalblue;
    width: 200px;
    height: 100px;
}
.footer{
    background: rgb(186, 230, 166);
    border: 10px solid rgb(103, 70, 122);
    width: 200px;
    height: 100px;
}